.register-inputs {
  align-items: center;
  align-self: center;
  background-color: white;
  border: 1px solid rgb(178, 135, 135);
  border-radius: 16px;
  color: rgb(178, 135, 135);
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 40%;
  justify-content: center;
  margin: 0 auto;
  padding: 80px 40px;
  width: 40%;
}

h1 {
  margin: 0;
}
